.dashboard_body{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 3rem;

    /* align-items: center;   */
}

.sidebar_body{
    width: 30%;
    
   
}

.dashboard_section{
    width: 70%;
    
}


.box_container{
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.box{
    height: 28vh;
    width: 33.333%;
}
.box-img-container{
    width: 100%;

}
.box-img{
    height: 3rem;
    width: 3rem;
    float: right;
}
.wallet, .ref{
    padding: 1rem;
    border-radius: 10px;
}

.wallet-eye{
    display: flex;
    gap: 1rem;
}


.ref{
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 750px){
    .dashboard_body{
        display: flex;
        flex-direction: row;
        gap: 2rem;
        margin-top: 3rem;
        /* align-items: center;   */
        justify-content: center;
        
    }
    
    .sidebar_body{
        width: 0%;
        display: none;
       
    }
    
    .dashboard_section{
        width: 100%;
        
    }   
}