.airtime-group{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1rem;
}

.airtime-group .form-floating{
    width: 50%;
}

.utility-form{
    width: 90% !important;
}


@media(max-width:900px){
    .airtime-group{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1rem;
    }
    
    .airtime-group .form-floating{
        width: 100%;
    }
    
    .utility-form{
        width: 80% !important;
    }
    
    
    
}