 /* Off-canvas modal styles */
 .offcanvas {
    position: fixed;
    bottom: 0;
    left: 50%;
    width: 100%;
    max-width: 600px;
    /* Adjust the max-width as needed */
    transform: translateX(-50%) !important;
    height: 0;
    background: white;
    overflow: hidden;
    transition: height 0.3s ease-out;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
}

.offcanvas-body {
    overflow: hidden !important;
}

.offcanvas.show {
    height: 60vh;
    visibility: visible !important;
}

.offcanvas-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}

.offcanvas-title {
    margin: 0;
}

.btn-close {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.offcanvas-body {
    padding: 20px;
}

.form-label {
    display: block;
    margin-bottom: 5px;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.confirmation-content {
    text-align: center;
}